@{
    ViewBag.Title = "首页";
    ViewBag.Nav = "Home";
}
@section Styles{
    <link href="~/Content/css/home.css" rel="stylesheet" />
}

<!-- 功能区  s -->
<div class="row">
    <div class="col-xs-12">
        <div class="container home_top">
            <div class=" sell_area">
                <div class="sx_brand">
                    <div class="sx_brand_padding">
                        <div class="">
                            <div class="dt">品牌</div>
                            <div class="dd">
                                <a>大众</a>
                                <a>奥迪</a>
                                <a>宝马</a>
                                <a>奔驰</a>
                                <a>现代</a>
                                <a>丰田</a>
                                <a>本田</a>
                                <a>现代</a>
                                <a>福特</a>
                                <a>别克</a>
                                <a>日产</a>

                            </div>
                        </div>
                    </div>
                    <div class="brand_more">
                        <div class="leftline"></div>
                        <p>所有品牌</p>
                        <table class="tb_brand_column1">
                            <tbody>
                                <tr>
                                    <td class="zm">A</td>
                                    <td>
                                        <a>奥迪</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">B</td>
                                    <td>
                                        <a>宝骏</a>
                                        <a>宝马</a>
                                        <a>保时捷</a>
                                        <a>北京</a>
                                        <a>北汽</a>
                                        <a>奔驰</a>
                                        <a>奔腾</a>
                                        <a>本田</a>
                                        <a>标致</a>
                                        <a>别克</a>
                                        <a>宾利</a>
                                        <a>比亚迪</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">C</td>
                                    <td>
                                        <a>长安</a>
                                        <a>长安商用</a>
                                        <a>长城</a>
                                        <a>传祺</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">D</td>
                                    <td>
                                        <a>道奇</a>
                                        <a>大通</a>
                                        <a>大众</a>
                                        <a>东风风度</a>
                                        <a>东风风神</a>
                                        <a>东风风行</a>
                                        <a>东风小康</a>
                                        <a>东南</a>
                                        <a>DS</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">F</td>
                                    <td>
                                        <a>菲亚特</a>
                                        <a>丰田</a>
                                        <a>福特</a>
                                        <a>福田</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">G</td>
                                    <td>
                                        <a>GMC</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">H</td>
                                    <td>
                                        <a>哈弗</a>
                                        <a>海马</a>
                                        <a>红旗</a>
                                        <a>幻速</a>
                                        <a>华泰</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">J</td>
                                    <td>
                                        <a>Jeep</a>
                                        <a>江淮</a>
                                        <a>江铃</a>
                                        <a>吉奥</a>
                                        <a>捷豹</a>
                                        <a>吉利</a>
                                        <a>金杯</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">K</td>
                                    <td>
                                        <a>凯迪拉克</a>
                                        <a>开瑞</a>
                                        <a>凯翼</a>
                                        <a>克莱斯勒</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">L</td>
                                    <td>
                                        <a>雷克萨斯</a>
                                        <a>雷诺</a>
                                        <a>猎豹</a>
                                        <a>力帆</a>
                                        <a>铃木</a>
                                        <a>林肯</a>
                                        <a>陆风</a>
                                        <a>路虎</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="tb_brand_column2">
                            <tbody>
                                <tr>
                                    <td class="zm">N</td>
                                    <td>
                                        <a>纳智捷</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">O</td>
                                    <td>
                                        <a>欧宝</a>
                                        <a>讴歌</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">Q</td>
                                    <td>
                                        <a>启辰</a>
                                        <a>青年莲花</a>
                                        <a>奇瑞</a>
                                        <a>起亚</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">R</td>
                                    <td>
                                        <a>日产</a>
                                        <a>荣威</a>
                                        <a>瑞麒</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">S</td>
                                    <td>
                                        <a>三菱</a>
                                        <a>绅宝</a>
                                        <a>双龙</a>
                                        <a>斯巴鲁</a>
                                        <a>斯柯达</a>
                                        <a>Smart</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">T</td>
                                    <td>
                                        <a>特斯拉</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">W</td>
                                    <td>
                                        <a>威麟</a>
                                        <a>威旺</a>
                                        <a>沃尔沃</a>
                                        <a>五菱</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">X</td>
                                    <td>
                                        <a>夏利</a>
                                        <a>现代</a>
                                        <a>西雅特</a>
                                        <a>雪佛兰</a>
                                        <a>雪铁龙</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">Y</td>
                                    <td>
                                        <a>英菲尼迪</a>
                                        <a>一汽</a>
                                        <a>依维柯</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="zm">Z</td>
                                    <td>
                                        <a>中华</a>
                                        <a>众泰</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="sx_price">
                    <div class="dt">价格</div>
                    <div class="dd">
                        <a>3万以下</a>
                        <a>3-5万</a>
                        <a>5-10万</a>
                        <a>10-15万</a>
                        <a>15-20万</a>
                        <a>20-25万</a>
                        <a>25-30万</a>
                    </div>
                </div>

                <div class="sx_model">
                    <div class="dt">车型</div>
                    <div class="dd">
                        <a>小轿车</a>
                        <a>SUV</a>
                        <a>MVP</a>
                        <a>跑车</a>
                        @*<a>微型车</a>
                            <a>小型车</a>
                            <a>紧凑型车</a>
                            <a>SUV</a>
                            <a>中型车</a>
                            <a>中大型车</a>
                            <a>MPV</a>
                            <a>2豪华车</a>*@
                    </div>
                </div>
                <div class="sx_age">
                    <div class="dt">车龄</div>
                    <div class="dd">
                        <a>1年内</a>
                        <a>2年内</a>
                        <a>3-5年</a>
                        <a>5-8年</a>
                    </div>
                </div>
            </div>
            <div class="slide_area">
                <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#bannerCarousel" data-slide-to="1"></li>
                        <li data-target="#bannerCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://image.guazistatic.com/gz01160328/16/24/3e418609a2fd713feac4e99425a07b60.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" alt="First slide">
                        </div>
                        <div class="item">
                            <img src="http://image.guazistatic.com/gz01160328/16/24/3e418609a2fd713feac4e99425a07b60.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" alt="Second slide">
                        </div>
                        <div class="item">
                            <img src="http://image.guazistatic.com/gz01160328/16/24/3e418609a2fd713feac4e99425a07b60.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" alt="Third slide">
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="#bannerCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#bannerCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="ass_area">
                <div class="ass_title">
                    <h3>二手车价格评估</h3>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <select class="form-control" placeholder="品牌">
                            <option>品牌</option>
                            <option>宝马</option>
                            <option>奔驰</option>
                            <option>奥迪</option>
                            <option>大众</option>
                            <option>福特</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <select class="form-control" placeholder="车型">
                            <option>车型</option>
                            <option>小轿车</option>
                            <option>SUV</option>
                            <option>MVP</option>
                            <option>跑车</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <select class="form-control" placeholder="车龄">
                            <option>车龄</option>
                            <option>1年内</option>
                            <option>2年内</option>
                            <option>3-5年</option>
                            <option>5-8年</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="里程">
                </div>
                <button id="btn_ass" class="btn btn-warning" href="#">立即评估</button>
            </div>
        </div>
    </div>
</div>
<!-- 功能区  e -->
<!-- 车辆列表  s -->
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#tab_new">最新上架</a></li>
            <li><a href="#tab_urgentSell">降价急售</a></li>
            <li><a href="#tab_preNew">准新车</a></li>
            <li><a href="#tab_exercise">练手车</a></li>
            <li><a href="#tab_suv">SUV</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_new">
                <!-- 车辆列表  s -->
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://scs.ganjistatic1.com/gjfs16/M07/28/B8/CgEHQlYpDNb3enYrABcunhG69OE138_600-400c_8-1.jpg" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.30万 42.60万*@
                            <a class="info_title">Jeep自由光 2014款 2.4 自动 豪华版</a>
                            <p class="info_gray">2015年1月上牌 | 行驶1.7万公里</p>
                            <p class="info_price">
                                <span>25.30万</span>
                                <s>42.60万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 车辆列表  e -->
            </div>
            <div class="tab-pane" id="tab_urgentSell">
                <!-- 车辆列表  s -->
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/17/34/d2c186dc659d241018c994c404a07aae.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*12.00万 17.30万*@
                            <a class="info_title">起亚K5 2014款 2.0 手动 GL</a>
                            <p class="info_gray">2014年8月上牌 | 行驶1.8万公里</p>
                            <p class="info_price">
                                <span>12.00万</span>
                                <s>17.30万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 车辆列表  e -->
            </div>
            <div class="tab-pane" id="tab_preNew">
                <!-- 车辆列表  s -->
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/14/01/b0bc020972e6cb69ae9e430c692f6362.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*35.95万 46.60万*@
                            <a class="info_title">奔驰E级 2015款 E 200 L 2.0T 自动</a>
                            <p class="info_gray">2015年7月上牌 | 行驶0.8万公里</p>
                            <p class="info_price">
                                <span>35.95万</span>
                                <s>46.60万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 车辆列表  e -->
            </div>
            <div class="tab-pane" id="tab_exercise">
                <!-- 车辆列表  s -->
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160328/15/14/ab83b5d9c65eb6d84baa7a81c320259e.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*4.80万 9.70万*@
                            <a class="info_title">奇瑞瑞虎 2012款 1.6 手动 DVVT 精英</a>
                            <p class="info_gray">2013年6月上牌 | 行驶9.6万公里</p>
                            <p class="info_price">
                                <span>4.80万</span>
                                <s>9.70万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 车辆列表  e -->
            </div>
            <div class="tab-pane" id="tab_suv">
                <!-- 车辆列表  s -->
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://image.guazistatic.com/gz01160326/18/22/cf6f8c80c75466631d2895a718ceac76.jpg@base@tag=imgScale&w=600&h=400&c=1&m=2&q=88" style="height: 180px; width: 100%; display: block;" alt="">
                        </a>
                        <div class="caption">
                            @*25.00万 36.20万*@
                            <a class="info_title">奥迪Q3 2013款 Q3 2.0TFSI 双离合 35T</a>
                            <p class="info_gray">2013年9月上牌 | 行驶2.7万公里</p>
                            <p class="info_price">
                                <span>25.00万</span>
                                <s>36.20万</s>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 车辆列表  e -->
            </div>
        </div>
    </div>
</div>
<!-- 车辆列表  e -->
<!-- 人车故事  s -->
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="form-inline">
            <div class="form-group">
                <h3 style="line-height:28px;">
                    <span class="divider" style="width:4px; height:18px;background-color:#ED8B1C;display:inline-block;"></span>
                    人车故事
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-xs-4">
        <div class="panel panel-default" style="height:200px;">
            <a href="#" class="thumbnail">
                <img src="http://sta.ganjistatic1.com/att/2015/c2c/pc_index_buttom/zq_hyundai.jpg" style="height: 192px; width: 100%; display: block;" alt="">
            </a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default" style="height:200px;">
            <a href="#" class="thumbnail">
                <img src="http://sta.ganjistatic1.com/att/2015/c2c/pc_index_buttom/zq_loan.jpg" style="height: 192px; width: 100%; display: block;" alt="">
            </a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default" style="height:200px;">
            <a href="#" class="thumbnail">
                <img src="http://sta.ganjistatic1.com/att/2015/c2c/pc_index_buttom/zq_tianlai.jpg" style="height: 192px; width: 100%; display: block;" alt="">
            </a>
        </div>
    </div>
</div>
<!-- 人车故事  e -->
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".sx_brand").mouseover(function () {
                showBrandMore();
            });
            $(".sx_brand").mouseout(function () {
                hideBrandMore();
            });

            $('#myTab a').mouseover(function (e) {
                e.preventDefault();//阻止a链接的跳转行为
                $(this).tab('show');//显示当前选中的链接及关联的content
            })
        });
        //显示所有品牌
        function showBrandMore() {
            $(".sx_brand").addClass("sx_brand_active");
            $(".sx_brand_padding").addClass("sx_brand_padding_active");
            $(".brand_more").show();
        }
        //隐藏所有品牌
        function hideBrandMore() {
            $(".sx_brand").removeClass("sx_brand_active");
            $(".sx_brand_padding").removeClass("sx_brand_padding_active");
            $(".brand_more").hide();
        }
        //汽车列表点击事件
        $(".tab-content .thumbnail").click(function () {
            window.open("/Home/CarDetails");
        });
        $(".tab-content .caption .info_title").click(function () {
            window.open("/Home/CarDetails");
        });
    </script>
}
